USE [master]
GO
/****** Object:  Database [WebSiteBanHang]    Script Date: 16/12/2023 3:03:04 CH ******/
CREATE DATABASE [WebSiteBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebSiteBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WebSiteBanHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebSiteBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WebSiteBanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebSiteBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebSiteBanHang]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Adv]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Adv](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[Link] [nvarchar](500) NULL,
	[Type] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Modifiedby] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Adv] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Category]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[SeoTitle] [nvarchar](150) NULL,
	[SeoDescription] [nvarchar](250) NULL,
	[SeoKeywords] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Modifiedby] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Contact]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Website] [nvarchar](max) NULL,
	[Message] [nvarchar](4000) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Modifiedby] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ImportOrder]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ImportOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TotalProducts] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tb_ImportOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ImportOrderDetail]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ImportOrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[ProductAttributeId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[ImportOrderId] [int] NOT NULL,
	[ProductAttributes_Id] [int] NULL,
	[ImportPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.tb_ImportOrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_News]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[SeoTitle] [nvarchar](max) NULL,
	[SeoDescription] [nvarchar](max) NULL,
	[SeoKeywords] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Modifiedby] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TypePayment] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[StatusOrder] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tb_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderDetail]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProductAttributeId] [int] NOT NULL,
	[ProductAttributes_Id] [int] NULL,
	[Product_Id] [int] NULL,
 CONSTRAINT [PK_dbo.tb_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Posts]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](250) NULL,
	[CategoryId] [int] NOT NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Modifiedby] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Product]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Alias] [nvarchar](250) NULL,
	[ProductCode] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](250) NULL,
	[ViewCount] [int] NOT NULL,
	[IsHome] [bit] NOT NULL,
	[IsSale] [bit] NOT NULL,
	[IsFeature] [bit] NOT NULL,
	[IsHot] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[QuantitySold] [int] NOT NULL,
	[TotalProduct] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tb_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductAttributes]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductAttributes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[OriginalPrice] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PriceSale] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[Size] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.tb_ProductAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductCategory]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Icon] [nvarchar](250) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Modifiedby] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductImage]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tb_ProductImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Subscribe]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Subscribe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.tb_Subscribe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_SystemSetting]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_SystemSetting](
	[SettingKey] [nvarchar](50) NOT NULL,
	[SettingValue] [nvarchar](4000) NULL,
	[SettingDescription] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.tb_SystemSetting] PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKes]    Script Date: 16/12/2023 3:03:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[SoTruyCap] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.ThongKes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4b64aab8-a1a5-4bf6-89a2-dc17991dd452', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2dd59a9d-fdf4-488c-a46a-aad6e3b6c1d8', N'Customer')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'6eeb6e96-fcf7-496c-80d5-312a87ba011c', N'Employee')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'86d5e1bb-ff69-4301-a279-9e29982ed057', N'2dd59a9d-fdf4-488c-a46a-aad6e3b6c1d8')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e38969d9-8734-4105-82de-874859200f67', N'4b64aab8-a1a5-4bf6-89a2-dc17991dd452')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7043c24f-3ba8-4fe5-be4b-5ba2a2942831', N'6eeb6e96-fcf7-496c-80d5-312a87ba011c')
GO
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Phone], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'7043c24f-3ba8-4fe5-be4b-5ba2a2942831', N'NhanVien', NULL, N'NhanVien@gmail.com', 0, N'ALmAar8H+0olJZeAEoR2Rv/P1DTsLYcOWQUmY07m/CuqJgEhYHCZUVTHKOKlbBJNrg==', N'1ec076dd-a44d-4b87-aa69-2352a527569f', NULL, 0, 0, NULL, 1, 0, N'NhanVien')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Phone], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'86d5e1bb-ff69-4301-a279-9e29982ed057', N'KhachHang', NULL, N'khachhang@gmail.com', 0, N'ABF+cFFdNbIKSIpIztz41rixXqOttxhoSGG11Wq4lFhOotYLAZd/qSFhpu1NvV+ElQ==', N'7318b2e1-d3ae-4c26-92c3-07b680c94f48', NULL, 0, 0, NULL, 1, 0, N'KhachHang')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Phone], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'96c3724f-368e-4cd1-8916-c407c9ed27a2', NULL, NULL, N'htluyen@gmail.com', 0, N'AIZjUNeWqBGeBBI76cipWFfnElgQRP8CA/+e9L/ef3QVo+UjFtjTkEkfA6UD32JQvQ==', N'd499fc4c-84a0-4195-8270-a62bd0deacee', NULL, 0, 0, NULL, 1, 0, N'htluyen@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[tb_Category] ON 

INSERT [dbo].[tb_Category] ([Id], [Title], [Alias], [Link], [Description], [SeoTitle], [SeoDescription], [SeoKeywords], [IsActive], [Position], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (1, N'Trang chủ', N'trang-chu', NULL, NULL, NULL, NULL, NULL, 0, 1, NULL, CAST(N'2023-10-06T17:09:16.047' AS DateTime), CAST(N'2023-10-06T17:09:16.047' AS DateTime), NULL)
INSERT [dbo].[tb_Category] ([Id], [Title], [Alias], [Link], [Description], [SeoTitle], [SeoDescription], [SeoKeywords], [IsActive], [Position], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (2, N'Sản phẩm', N'san-pham', NULL, NULL, NULL, NULL, NULL, 0, 2, NULL, CAST(N'2023-10-06T17:09:32.783' AS DateTime), CAST(N'2023-10-06T17:18:03.783' AS DateTime), NULL)
INSERT [dbo].[tb_Category] ([Id], [Title], [Alias], [Link], [Description], [SeoTitle], [SeoDescription], [SeoKeywords], [IsActive], [Position], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (3, N'Tin tức', N'tin-tuc', NULL, NULL, NULL, NULL, NULL, 0, 1, NULL, CAST(N'2023-10-06T17:23:43.980' AS DateTime), CAST(N'2023-10-06T17:23:43.980' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tb_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ImportOrder] ON 

INSERT [dbo].[tb_ImportOrder] ([Id], [TotalProducts], [TotalAmount], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [Note], [Type]) VALUES (32, 8, CAST(1200400.00 AS Decimal(18, 2)), N'Admin', CAST(N'2023-11-07T17:10:06.307' AS DateTime), CAST(N'2023-11-07T17:10:06.307' AS DateTime), NULL, N'', 1)
INSERT [dbo].[tb_ImportOrder] ([Id], [TotalProducts], [TotalAmount], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [Note], [Type]) VALUES (33, 1, CAST(300000.00 AS Decimal(18, 2)), N'Admin', CAST(N'2023-11-08T00:45:45.143' AS DateTime), CAST(N'2023-11-08T00:45:45.143' AS DateTime), NULL, N'', 0)
INSERT [dbo].[tb_ImportOrder] ([Id], [TotalProducts], [TotalAmount], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [Note], [Type]) VALUES (34, 3, CAST(900000.00 AS Decimal(18, 2)), N'Admin', CAST(N'2023-11-08T00:46:28.317' AS DateTime), CAST(N'2023-11-08T00:46:28.317' AS DateTime), NULL, N'', 1)
SET IDENTITY_INSERT [dbo].[tb_ImportOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ImportOrderDetail] ON 

INSERT [dbo].[tb_ImportOrderDetail] ([Id], [ProductName], [ProductAttributeId], [Quantity], [TotalPrice], [ImportOrderId], [ProductAttributes_Id], [ImportPrice]) VALUES (38, N'test size / L', 11, 4, CAST(1200000.00 AS Decimal(18, 2)), 32, NULL, CAST(300000.00 AS Decimal(18, 2)))
INSERT [dbo].[tb_ImportOrderDetail] ([Id], [ProductName], [ProductAttributeId], [Quantity], [TotalPrice], [ImportOrderId], [ProductAttributes_Id], [ImportPrice]) VALUES (39, N'test size / L', 11, 0, CAST(6000000.00 AS Decimal(18, 2)), 32, NULL, CAST(300000.00 AS Decimal(18, 2)))
INSERT [dbo].[tb_ImportOrderDetail] ([Id], [ProductName], [ProductAttributeId], [Quantity], [TotalPrice], [ImportOrderId], [ProductAttributes_Id], [ImportPrice]) VALUES (40, N'test size / L', 11, 1, CAST(300000.00 AS Decimal(18, 2)), 33, NULL, CAST(300000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tb_ImportOrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_News] ON 

SET IDENTITY_INSERT [dbo].[tb_News] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Order] ON 

INSERT [dbo].[tb_Order] ([Id], [Code], [CustomerName], [Phone], [Address], [Email], [TotalAmount], [Quantity], [TypePayment], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [StatusOrder]) VALUES (43, N'DH0447', N'Vũ Viết Chiến', N'0865766032', N'Nhà số 2, ngách 2, ngõ 30/30A Lê Trọng Tấn, Hà Đông, Hà Nội', N'vuvietchien07042001@gmail.com', CAST(340000.00 AS Decimal(18, 2)), 0, 2, N'0865766032', CAST(N'2023-11-13T09:58:58.510' AS DateTime), CAST(N'2023-11-13T09:58:58.510' AS DateTime), NULL, 0)
INSERT [dbo].[tb_Order] ([Id], [Code], [CustomerName], [Phone], [Address], [Email], [TotalAmount], [Quantity], [TypePayment], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [StatusOrder]) VALUES (44, N'DH4881', N'Vũ Viết Chiến', N'0865766032', N'Nhà số 2, ngách 2, ngõ 30/30A Lê Trọng Tấn, Hà Đông, Hà Nội', N'vuvietchien07042001@gmail.com', CAST(400000.00 AS Decimal(18, 2)), 0, 2, N'0865766032', CAST(N'2023-11-13T10:50:59.123' AS DateTime), CAST(N'2023-11-13T10:50:59.123' AS DateTime), NULL, 4)
INSERT [dbo].[tb_Order] ([Id], [Code], [CustomerName], [Phone], [Address], [Email], [TotalAmount], [Quantity], [TypePayment], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [StatusOrder]) VALUES (45, N'DH1831', N'Vũ Viết Chiến', N'0865766032', N'Nhà số 2, ngách 2, ngõ 30/30A Lê Trọng Tấn, Hà Đông, Hà Nội', N'vuvietchien07042001@gmail.com', CAST(680000.00 AS Decimal(18, 2)), 0, 1, N'0865766032', CAST(N'2023-11-13T14:41:17.623' AS DateTime), CAST(N'2023-11-13T14:41:18.480' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] ON 

INSERT [dbo].[tb_OrderDetail] ([Id], [OrderId], [Price], [Quantity], [ProductAttributeId], [ProductAttributes_Id], [Product_Id]) VALUES (49, 43, CAST(340000.00 AS Decimal(18, 2)), 1, 49, NULL, NULL)
INSERT [dbo].[tb_OrderDetail] ([Id], [OrderId], [Price], [Quantity], [ProductAttributeId], [ProductAttributes_Id], [Product_Id]) VALUES (50, 44, CAST(400000.00 AS Decimal(18, 2)), 1, 9, NULL, NULL)
INSERT [dbo].[tb_OrderDetail] ([Id], [OrderId], [Price], [Quantity], [ProductAttributeId], [ProductAttributes_Id], [Product_Id]) VALUES (51, 45, CAST(340000.00 AS Decimal(18, 2)), 2, 49, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Posts] ON 

INSERT [dbo].[tb_Posts] ([Id], [Title], [Alias], [Description], [Detail], [Image], [CategoryId], [SeoTitle], [SeoDescription], [SeoKeywords], [IsActive], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (2, N'bbbbb', N'bbbbb', N'aa', N'aaaaa', N'/Uploads/images/sanpham/IMG_6040.JPG', 3, NULL, NULL, NULL, 1, NULL, CAST(N'2023-10-09T23:09:44.000' AS DateTime), CAST(N'2023-10-09T23:09:50.077' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tb_Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Product] ON 

INSERT [dbo].[tb_Product] ([Id], [Title], [Alias], [ProductCode], [Description], [Detail], [Image], [ViewCount], [IsHome], [IsSale], [IsFeature], [IsHot], [IsActive], [ProductCategoryId], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [QuantitySold], [TotalProduct]) VALUES (26, N'váy thời trang nữ 2023', N's', NULL, NULL, NULL, NULL, 1, 1, 1, 0, 0, 1, 1, N'S', NULL, NULL, NULL, CAST(N'2023-10-30T00:45:54.000' AS DateTime), CAST(N'2023-12-13T10:48:32.513' AS DateTime), NULL, 0, 3)
SET IDENTITY_INSERT [dbo].[tb_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductAttributes] ON 

INSERT [dbo].[tb_ProductAttributes] ([Id], [ProductId], [OriginalPrice], [Price], [PriceSale], [Quantity], [Size]) VALUES (7, 26, CAST(500000.00 AS Decimal(18, 2)), CAST(8000000.00 AS Decimal(18, 2)), CAST(600000.00 AS Decimal(18, 2)), 3, N'S')
INSERT [dbo].[tb_ProductAttributes] ([Id], [ProductId], [OriginalPrice], [Price], [PriceSale], [Quantity], [Size]) VALUES (8, 26, CAST(500000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(550000.00 AS Decimal(18, 2)), 0, N'M')
INSERT [dbo].[tb_ProductAttributes] ([Id], [ProductId], [OriginalPrice], [Price], [PriceSale], [Quantity], [Size]) VALUES (9, 27, CAST(300000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(400000.00 AS Decimal(18, 2)), 99, N'S')
SET IDENTITY_INSERT [dbo].[tb_ProductAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductCategory] ON 

INSERT [dbo].[tb_ProductCategory] ([Id], [Title], [Alias], [Description], [Icon], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (1, N'Đầm', N'dam', NULL, N'/Uploads/images/sanpham/z3622650023715_fcc9cf68c7a74e2c26d254ddb542d403.jpg', NULL, NULL, NULL, NULL, CAST(N'2023-10-09T10:08:17.000' AS DateTime), CAST(N'2023-10-09T10:10:36.563' AS DateTime), NULL)
INSERT [dbo].[tb_ProductCategory] ([Id], [Title], [Alias], [Description], [Icon], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (2, N'Chân váy', N'chan-vay', NULL, N'/Uploads/images/sanpham/IMG_6040.JPG', NULL, NULL, NULL, NULL, CAST(N'2023-10-09T10:08:37.300' AS DateTime), CAST(N'2023-10-09T10:08:37.300' AS DateTime), NULL)
INSERT [dbo].[tb_ProductCategory] ([Id], [Title], [Alias], [Description], [Icon], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (3, N'Áo sơ mi', N'ao-so-mi', NULL, N'/Uploads/images/sanpham/z4047006536693_003_7e9137e12002b656c1307a82df9c76c9.jpg', NULL, NULL, NULL, NULL, CAST(N'2023-10-09T10:09:40.387' AS DateTime), CAST(N'2023-10-09T10:09:40.387' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tb_ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductImage] ON 

INSERT [dbo].[tb_ProductImage] ([Id], [ProductId], [Image], [IsDefault]) VALUES (39, 27, N'/Uploads/images/sanpham/375451809_323561113400376_4612025980827673445_n.jpg', 0)
INSERT [dbo].[tb_ProductImage] ([Id], [ProductId], [Image], [IsDefault]) VALUES (40, 26, N'/Uploads/images/sanpham/375451809_323561113400376_4612025980827673445_n.jpg', 0)
INSERT [dbo].[tb_ProductImage] ([Id], [ProductId], [Image], [IsDefault]) VALUES (41, 26, N'/Uploads/images/sanpham/IMG_6040.JPG', 1)
SET IDENTITY_INSERT [dbo].[tb_ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Subscribe] ON 

INSERT [dbo].[tb_Subscribe] ([Id], [Email], [CreatedDate]) VALUES (1, N'vuvietchien07042001@gmail.com', CAST(N'2023-10-10T16:59:43.670' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_Subscribe] OFF
GO
INSERT [dbo].[tb_SystemSetting] ([SettingKey], [SettingValue], [SettingDescription]) VALUES (N'SettingDesSeo', NULL, NULL)
INSERT [dbo].[tb_SystemSetting] ([SettingKey], [SettingValue], [SettingDescription]) VALUES (N'SettingEmail', N'vuvietchien07042001@gmail.com', NULL)
INSERT [dbo].[tb_SystemSetting] ([SettingKey], [SettingValue], [SettingDescription]) VALUES (N'SettingHotline', N'0865766039', NULL)
GO
SET IDENTITY_INSERT [dbo].[ThongKes] ON 

INSERT [dbo].[ThongKes] ([Id], [ThoiGian], [SoTruyCap]) VALUES (1, CAST(N'2023-10-31T01:02:58.987' AS DateTime), 1)
INSERT [dbo].[ThongKes] ([Id], [ThoiGian], [SoTruyCap]) VALUES (2, CAST(N'2023-11-01T23:39:32.467' AS DateTime), 25)
INSERT [dbo].[ThongKes] ([Id], [ThoiGian], [SoTruyCap]) VALUES (3, CAST(N'2023-11-02T21:31:36.440' AS DateTime), 33)
SET IDENTITY_INSERT [dbo].[ThongKes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportOrderId]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_ImportOrderId] ON [dbo].[tb_ImportOrderDetail]
(
	[ImportOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAttributes_Id]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductAttributes_Id] ON [dbo].[tb_ImportOrderDetail]
(
	[ProductAttributes_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[tb_News]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[tb_OrderDetail]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[tb_OrderDetail]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAttributes_Id]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductAttributes_Id] ON [dbo].[tb_OrderDetail]
(
	[ProductAttributes_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[tb_Posts]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductCategoryId]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductCategoryId] ON [dbo].[tb_Product]
(
	[ProductCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[tb_ProductAttributes]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 16/12/2023 3:03:05 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[tb_ProductImage]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_ImportOrder] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[tb_ImportOrderDetail] ADD  DEFAULT ((0)) FOR [ImportPrice]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT ((0)) FOR [StatusOrder]
GO
ALTER TABLE [dbo].[tb_OrderDetail] ADD  DEFAULT ((0)) FOR [ProductAttributeId]
GO
ALTER TABLE [dbo].[tb_Product] ADD  DEFAULT ((0)) FOR [QuantitySold]
GO
ALTER TABLE [dbo].[tb_Product] ADD  DEFAULT ((0)) FOR [TotalProduct]
GO
ALTER TABLE [dbo].[tb_ProductAttributes] ADD  DEFAULT ('') FOR [Size]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[tb_ImportOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_ImportOrderDetail_dbo.tb_ImportOrder_ImportOrderId] FOREIGN KEY([ImportOrderId])
REFERENCES [dbo].[tb_ImportOrder] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_ImportOrderDetail] CHECK CONSTRAINT [FK_dbo.tb_ImportOrderDetail_dbo.tb_ImportOrder_ImportOrderId]
GO
ALTER TABLE [dbo].[tb_ImportOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_ImportOrderDetail_dbo.tb_ProductAttributes_ProductAttributes_Id] FOREIGN KEY([ProductAttributes_Id])
REFERENCES [dbo].[tb_ProductAttributes] ([Id])
GO
ALTER TABLE [dbo].[tb_ImportOrderDetail] CHECK CONSTRAINT [FK_dbo.tb_ImportOrderDetail_dbo.tb_ProductAttributes_ProductAttributes_Id]
GO
ALTER TABLE [dbo].[tb_News]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_News_dbo.tb_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tb_Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_News] CHECK CONSTRAINT [FK_dbo.tb_News_dbo.tb_Category_CategoryId]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tb_Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_Order_OrderId]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_Product_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[tb_Product] ([Id])
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_Product_Product_Id]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_ProductAttributes_ProductAttributes_Id] FOREIGN KEY([ProductAttributes_Id])
REFERENCES [dbo].[tb_ProductAttributes] ([Id])
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_ProductAttributes_ProductAttributes_Id]
GO
ALTER TABLE [dbo].[tb_Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_Posts_dbo.tb_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tb_Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Posts] CHECK CONSTRAINT [FK_dbo.tb_Posts_dbo.tb_Category_CategoryId]
GO
ALTER TABLE [dbo].[tb_Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_Product_dbo.tb_ProductCategory_ProductCategoryId] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[tb_ProductCategory] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Product] CHECK CONSTRAINT [FK_dbo.tb_Product_dbo.tb_ProductCategory_ProductCategoryId]
GO
ALTER TABLE [dbo].[tb_ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_ProductAttributes_dbo.tb_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tb_Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_ProductAttributes] CHECK CONSTRAINT [FK_dbo.tb_ProductAttributes_dbo.tb_Product_ProductId]
GO
ALTER TABLE [dbo].[tb_ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_ProductImage_dbo.tb_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tb_Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_ProductImage] CHECK CONSTRAINT [FK_dbo.tb_ProductImage_dbo.tb_Product_ProductId]
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKe]    Script Date: 16/12/2023 3:03:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ThongKe]
as 
begin 
	declare @SoTruyCapGanNhat int 
	declare @Count int
	select @Count = Count(*) from ThongKes
	if @Count is null set @Count = 0
	if @Count = 0
		Insert into Thongkes(ThoiGian, SoTruyCap)
		values (GETDATE(), 1)
	else
		begin
			declare @ThoiGianGanNhat datetime
			select @SoTruyCapGanNhat = tk.SoTruyCap, @ThoiGianGanNhat = tk.ThoiGian From ThongKes tk
			where tk.Id=(Select MAX(tk1.Id) from ThongKes tk1)
			if @SoTruyCapGanNhat is null set @SoTruyCapGanNhat = 0
			if @ThoiGianGanNhat is null set @ThoiGianGanNhat = GETDATE();

			-- nếu chuyển sang ngày mới chưa (sau 12h đêm)
			-- nếu chưa chuyển sang ngày mới thì update 
			if DAY(@ThoiGianGanNhat) = DAY(GETDATE())
			begin
				update ThongKes
				set SoTruyCap = @SoTruyCapGanNhat + 1, ThoiGian = GETDATE() 
				where Id = (select max(tk2.Id) from ThongKes tk2)
			end

			-- nếu đã sang ngày mới rồi thì chúng ta thêm 1 bản ghi mới
			else
				Insert into Thongkes(ThoiGian, SoTruyCap)
				values (GETDATE(), 1)
		end
		-- Thống kê hôm nay, hôm qua, tuần này, tuần trước, tháng này, tháng trước
		declare @HomNay int
		set @HomNay = DATEPART(DW, GETDATE())
		select @SoTruyCapGanNhat = SoTruyCap,@ThoiGianGanNhat= ThoiGian 
		from ThongKes where Id = (select max(Id) from ThongKes)	

		-- Số truy cập ngày hôm qua
		declare @TruyCapHomQua bigint 
		select @TruyCapHomQua = isnull(SoTruyCap,0) from ThongKes
		where CONVERT(nvarchar(20), ThoiGian,103) = convert(nvarchar(20),getdate()-1,103)	
		if @TruyCapHomQua is null set @TruyCapHomQua = 0


		-- truy cập đầu tuần này
		declare @DauTuanNay datetime
		set @DauTuanNay = Dateadd(wk,datediff(wk,6,getdate()),6)

		-- Tính ngày đầu từ tuần trước, tính từ thời điểm 00:00
		declare @NgayDauTuanTruoc datetime
		set @NgayDauTuanTruoc = Cast(convert(nvarchar(30), dateadd(dd, -(@HomNay+6), getdate()),101) as datetime)

		-- Tính từ ngày cuối tuần trước tính đến 24h ngày cuối tuần
		declare @NgayCuoiTuanTruoc datetime
		set @NgayCuoiTuanTruoc = Cast(convert(nvarchar(30), dateadd(dd, -@HomNay, getdate()),101) + '23:59:59' as datetime)


		-- Tính số truy cập tuần này
		declare @TruyCapTuanNay bigint
		select @TruyCapTuanNay = isnull(sum(SoTruyCap),0) from ThongKes
		where ThoiGian between @DauTuanNay and GETDATE();

		-- Tính số truy cập tuần trước
		declare @SolanTruyCapTuanTruoc bigint
		select @SolanTruyCapTuanTruoc = isnull(sum(SoTruyCap),0) from ThongKes ttk
		where ttk.ThoiGian between @NgayDauTuanTruoc and @NgayCuoiTuanTruoc

		-- Tính số truy cập tháng này
		declare @SolanTruyCapThangNay bigint
		select @SolanTruyCapThangNay = isnull(sum(SoTruyCap),0) from ThongKes ttk
		where Month(ttk.ThoiGian)= month(GETDATE())

		-- Tính số truy cập tháng trước
		declare @SolanTruyCapThangTruoc bigint
		select @SolanTruyCapThangTruoc = isnull(sum(SoTruyCap),0) from ThongKes ttk
		where Month(ttk.ThoiGian)= month(GETDATE())-1

		-- Tính tổng số
		declare @TongSo bigint 
		select @TongSo = ISNULL(sum(SoTruyCap),0) from ThongKes ttk

		select @SoTruyCapGanNhat as HomNay,
		@TruyCapHomQua as HomQua,
		@TruyCapTuanNay as TuanNay,
		@SolanTruyCapTuanTruoc as TuanTruoc,
		@SolanTruyCapThangNay as ThangNay,
		@SolanTruyCapThangTruoc as ThangTruoc,
		@TongSo as TatCa
end
GO
USE [master]
GO
